.person-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: url('https://i.ytimg.com/vi/9Pcari_wEs8/maxresdefault.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}

.btn-nav {
  display: flex; 
  padding: 1em; 
  justify-content: center;
  background-color: aqua;
}

.nav {
  border: #87e7ff solid 3px;
  border-radius: 15px;
  background-color: #240059;
  color: white;
  font-size: 1rem;
  margin: 1em;
  padding: 10px; 
}

.nav:hover {
  transform: scale(1.1);
  box-shadow: 0 0 .75em #87e7ff;
}

.error {
  color: whitesmoke;
  font-size: x-large;
}